<fieldset>
  <legend> Edit Charity </legend>
  <!-- ORGANIZATION -->
  <p>
    <label for="org">Organization</label><br>
    <input id="org" type="text" name="org" value="{{charity.org}}" />
  </p>
</fieldset>
